.withdraw-button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.withdraw-button:hover {
  border-color: #646cff;
}
.withdraw-button:focus,
.withdraw-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.item-main-container {
  flex: 1 1 300px;
  border: 1px solid rgb(70, 60, 60);
  border-radius: 20px;
  padding: 2%;
  margin: 10px;
}